/*
 * Core page styles, copied from
 * http://www.innosightinstitute.org/innosight/wp-content/themes/innosight/style.css
 */

body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, form{
    margin: 0;
    padding: 0;
}

h3 {
  padding-bottom: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #393733;
    margin: 0px;
    padding: 5px;
    line-height: 14px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
h2 {
     line-height: 1em;
    font-size: 15px;
    font-weight: bold;
         color: #B3274A;
    padding: 0 0 15px;
}

a {
    color: #A6263F;
    text-decoration: underline;
}
a:hover {
    color: #36C !important;
}
a:active {
    color: #978562;
}
a:visited {
    color: #393733;
}

/**
 * Style of the "table" - really a list but it's implemented as a table to 
 * allow use of DataTable JQuery plugin
 * 
 */

/* Border between rows */
table#models tr { border: 1px solid #ccc; }

/* This magic hides the rest of the table, letting the first column 
   represent the whole row (in JS, we write markup into the first column */

#models th, td {
  display: none;
}

table#models td:first-child {
  display: block;
}

#models {
  padding: 0;
  width: 600px;
}

div.model_row {
  border: 1px black;
  padding: 20px;
  background: #eeeeee;
}

table.dataTable tr.odd td.sorting_1 { background-color: white; }
table.dataTable tr.even td.sorting_1 { background-color: white; }

.model_row .location {
   float: right;
}
.model_row .model {
   display: block;
   font-weight: bold;
}
.model_row p {
  padding: 10px;
}
.model_row .firstyear {
  display: block;
}

/*
 * Styling specific to the tabs and page layout.
 */

#wrap {
 margin: 0 auto 0 0;
 width: 970px;
}
#filters {
 margin: 0 auto;
 float: left;
 width: 250px;
}
#content {
 width: 670px;
 float: right;
}

#filters label {
 display: block;
 width: 100%;
 padding: 5px;
}

#filters select {
 width: 250px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  color: black !important;
}

#map_canvas {
  margin: auto;
  width: 80%;
  height: 500px;
  padding: 15px;
}

.show_hide_link {
  float: right;
  clear: right;
  color: blue;
  padding: 5px;
  display: block;
}

#models_wrapper {
  padding-bottom: 20px;
}

// suggested in jquery docs to make maps work
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}

body {
  max-width: 920px;
}

div#tabs {
  width: 615px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  background: transparent !important;
}
ul.select2-choices {
  background: url('dropdown.png') no-repeat right top !important;
}

.ui-slider .ui-slider-range {
  background: #A6263F;
}

#gradesserved > span {
  font-weight: bold;
}

#firstyear > span {
  display: block;
  font-weight: bold;
}

.slider {
  width: 90%;
  margin: auto;
}

div.select2-hint {
  cursor: pointer;
  padding: 10px;
  clear: both;
  float: left;
  font-weight: bold;
  color: #A6263F;
}

div.header-buttons {
  overflow: auto;
  width: 100%
}

div.header-buttons a.button {
  float: right;
  margin-left: 8px;
}

div.header-buttons a i {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: text-top;
  background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
  background-repeat: no-repeat;

}

i.icon-file {
  background-position: -24px -24px;
}

i.icon-plus-sign {
  background-position: 0px -96px;
}

i.icon-download {
  background-position: -120px -24px;
}
